@page
@model ProjectMartinFrank.Pages.tblArt.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TblArt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TblArt.ArtTitle" class="control-label"></label>
                <input asp-for="TblArt.ArtTitle" class="form-control" />
                <span asp-validation-for="TblArt.ArtTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblArt.ArtDate" class="control-label"></label>
                <input asp-for="TblArt.ArtDate" class="form-control" />
                <span asp-validation-for="TblArt.ArtDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblArt.ArtType" class="control-label"></label>
                <input asp-for="TblArt.ArtType" class="form-control" />
                <span asp-validation-for="TblArt.ArtType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblArt.ArtPrice" class="control-label"></label>
                <input asp-for="TblArt.ArtPrice" class="form-control" />
                <span asp-validation-for="TblArt.ArtPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblArt.ArtistId" class="control-label"></label>
                <select asp-for="TblArt.ArtistId" class ="form-control" asp-items="ViewBag.ArtistId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TblArt.ArtImg" class="control-label"></label>
                <input asp-for="TblArt.ArtImg" class="form-control" />
                <span asp-validation-for="TblArt.ArtImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
