@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Martin's Art Gallery</h1>
    <hr />
    <p>This is the best art website to ever be created.</p>
    <img src="~/img/palette.jpg" />

    <br />
    <a class="" asp-area="" asp-page="/colorpage">Learn About Colors</a>
</div>
